Repository Software-Process/Software-Process.github.io, pull requests merged in 2018-02, with the labels that each got.

#73 Improved the question schema [#52]
  .gitignore
  models/question.js
  routes/questions.js
Labels: Database

#81 [#64,#55] Added functionality to question prompt page; question prompt
  app.js
  public/javascript/bootstrap.min.js
  public/javascript/jquery.min.js
  public/javascripts/question-prompt.js
  question-prompt.html
  routes/question-prompt.js
  routes/questions.js
  views/index.hbs
  views/question-prompt.hbs
Labels: CSS, Express, HTML, JavaScript, Node.js, Refactoring, Task

#79 Implemented login and register page [#62].
  AboutUs.html
  app.js
  index.html
  routes/aboutUs.js
  routes/loginRegister.js
  views/aboutus.hbs
  views/partials/header.hbs
  views/signIn.hbs
Labels: CSS, HTML

#92 [#66] Cleaned up references to unused libraries, removed some...
  index.html
  public/stylesheets/index.css
  question.html
  views/aboutus.hbs
  views/index.hbs
  views/partials/footer.hbs
  views/partials/header.hbs
  views/question-prompt.hbs
  views/signIn.hbs
Labels: CSS, HTML, Refactoring

#102 Updating Travis CLI to integrate with Karma and Jasmine Testing framework
  .travis.yml
Labels: Task, Testing

#103 Setting up Jasmine and Karma to integrate unit testing [#90]
  karma.conf.js
  package.json
  test/testingSpec.js
Labels: Task, Testing
